In [3]:
import os

os.listdir('Dataset/MentalHealth')

['5- anxiety-disorders-treatment-gap.csv',
 '7- number-of-countries-with-primary-data-on-prevalence-of-mental-illnesses-in-the-global-burden-of-disease-study.csv',
 '6- depressive-symptoms-across-us-population.csv',
 '2- burden-disease-from-each-mental-illness(1).csv',
 '1- mental-illnesses-prevalence.csv',
 '4- adult-population-covered-in-primary-data-on-the-prevalence-of-mental-illnesses.csv',
 '.ipynb_checkpoints',
 '3- adult-population-covered-in-primary-data-on-the-prevalence-of-major-depression.csv']

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset/MentalHealth/1- mental-illnesses-prevalence.csv')

# Preview the first few rows
df.head()

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             6420 non-null   object
 1   Code                                                                               6150 non-null   object
 2   Year                                                                               6420 non-null   int64
 3   Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized  6420 non-null   float64
 4   Depressive disorders (share of population) - Sex: Both - Age: Age-standardized     6420 non-null   float64
 5   Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 6   Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 7   Eating disorders (share of population) - Sex: Both - Age: Age-standardized         6420 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 401.4+ KB

In [6]:
df.isnull().sum()

Entity                                                                                 0
Code                                                                                 270
Year                                                                                   0
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized      0
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized         0
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized            0
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized            0
Eating disorders (share of population) - Sex: Both - Age: Age-standardized             0
dtype: int64

In [7]:

#Drop code Column from dataframe
df.drop(columns ='Code', inplace=True)

#Rename the lengthy columns to make the table compact
df.rename(columns = {
         'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized': 'Schizophrenia',
          'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized': 'Depression',
          'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized': 'Anxiety',
          'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized': 'Bipolar',
          'Eating disorders (share of population) - Sex: Both - Age: Age-standardized' : 'EatingDisorders'
}, inplace = True)


#changes confirmed
df.head()

,Entity,Year,Schizophrenia,Depression,Anxiety,Bipolar,EatingDisorders
0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [9]:
df.duplicated().sum()
df.head()

,Entity,Year,Schizophrenia,Depression,Anxiety,Bipolar,EatingDisorders
0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [9]:
import os

os.listdir('Dataset/MentalHealth')

['5- anxiety-disorders-treatment-gap.csv',
 '7- number-of-countries-with-primary-data-on-prevalence-of-mental-illnesses-in-the-global-burden-of-disease-study.csv',
 '6- depressive-symptoms-across-us-population.csv',
 '2- burden-disease-from-each-mental-illness(1).csv',
 '1- mental-illnesses-prevalence.csv',
 '4- adult-population-covered-in-primary-data-on-the-prevalence-of-mental-illnesses.csv',
 '.ipynb_checkpoints',
 '3- adult-population-covered-in-primary-data-on-the-prevalence-of-major-depression.csv']

In [11]:
import pandas as pd

# File paths for datasets 5, 6, and 7
file_paths = [
    'Dataset/MentalHealth/5- anxiety-disorders-treatment-gap.csv',
    'Dataset/MentalHealth/6- depressive-symptoms-across-us-population.csv',
    'Dataset/MentalHealth/7- number-of-countries-with-primary-data-on-prevalence-of-mental-illnesses-in-the-global-burden-of-disease-study.csv'
]

# Load each dataset into a DataFrame
dfs = [pd.read_csv(fp) for fp in file_paths]

# standardizing column names
for df in dfs:
    df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

# Trim whitespace in string columns
for df in dfs:
    for col in df.select_dtypes(include='object'):
        df[col] = df[col].str.strip()

# Convert data types where appropriate
for df in dfs:
    if 'year' in df.columns:
        df['year'] = pd.to_numeric(df['year'], errors='coerce', downcast='integer')

# Check for and handle missing values
for i, df in enumerate(dfs, start=5):
    print(f"\nMissing values in DataFrame {i}:")
    print(df.isnull().sum())

# Preview each DataFrame
for i, df in enumerate(dfs, start=5):
    print(f"\nDataFrame {i} Preview:")
    print(df.head())

Missing values in DataFrame 5:
entity                                         0
code                                           7
year                                           0
potentially_adequate_treatment,_conditional    0
other_treatments,_conditional                  0
untreated,_conditional                         0
dtype: int64

Missing values in DataFrame 6:
entity                      0
code                       10
year                        0
nearly_every_day            0
more_than_half_the_days     0
several_days                0
not_at_all                  0
dtype: int64

Missing values in DataFrame 7:
entity                                                                      0
code                                                                       15
year                                                                        0
number_of_countries_with_primary_data_on_prevalence_of_mental_disorders     0
dtype: int64

DataFrame 5 Preview:
                    entity code  year  \
0                Argentina  ARG  2015
1  Beijing/Shanghai, China  NaN  2005
2                  Belgium  BEL  2002
3                 Bulgaria  BGR  2006
4                 Colombia  COL  2012

   potentially_adequate_treatment,_conditional  other_treatments,_conditional  \
0                                         12.0                           18.0
1                                          8.8                            8.5
2                                         11.2                           24.5
3                                          7.3                           14.3
4                                          3.2                           10.0

   untreated,_conditional
0                    70.0
1                    82.7
2                    64.3
3                    78.4
4                    86.8

DataFrame 6 Preview:
                     entity  code  year  nearly_every_day  \
0           Appetite change   NaN  2014               4.6
1   Average across symptoms   NaN  2014               4.4
2            Depressed mood   NaN  2014               3.6
3  Difficulty concentrating   NaN  2014               3.5
4          Loss of interest   NaN  2014               4.4

   more_than_half_the_days  several_days  not_at_all
0                      5.1          15.5        74.8
1                      4.3          15.0        76.3
2                      3.9          16.8        75.7
3                      3.6          10.9        82.1
4                      5.4          16.3        73.8

DataFrame 7 Preview:
                                     entity  code  year  \
0                     Alcohol use disorders   NaN  2019
1                 Amphetamine use disorders   NaN  2019
2                          Anorexia nervosa   NaN  2019
3                         Anxiety disorders   NaN  2019
4  Attention-deficit hyperactivity disorder   NaN  2019

   number_of_countries_with_primary_data_on_prevalence_of_mental_disorders
0                                                 58
1                                                 58
2                                                 27
3                                                 58
4                                                172

In [12]:
for i, df in enumerate(dfs, start=5):
    print(f"{'='*60}")
    print(f"📊 DataFrame {i} Summary")
    print(f"{'='*60}")
    
    # Show basic info
    print(f"Shape: {df.shape}")
    print(f"\nColumns:\n{list(df.columns)}")
    
    # Show missing values neatly
    print(f"\nMissing Values:\n{df.isnull().sum()[df.isnull().sum() > 0].to_string()}")
    
    # Show preview
    print("\nPreview (first 5 rows):")
    display(df.head())  # Jupyter-friendly display

============================================================
📊 DataFrame 5 Summary
============================================================
Shape: (26, 6)

Columns:
['entity', 'code', 'year', 'potentially_adequate_treatment,_conditional', 'other_treatments,_conditional', 'untreated,_conditional']

Missing Values:
code    7

Preview (first 5 rows):

,entity,code,year,"potentially_adequate_treatment,_conditional","other_treatments,_conditional","untreated,_conditional"
0,Argentina,ARG,2015,12.0,18.0,70.0
1,"Beijing/Shanghai, China",NaN,2005,8.8,8.5,82.7
2,Belgium,BEL,2002,11.2,24.5,64.3
3,Bulgaria,BGR,2006,7.3,14.3,78.4
4,Colombia,COL,2012,3.2,10.0,86.8

============================================================
📊 DataFrame 6 Summary
============================================================
Shape: (10, 7)

Columns:
['entity', 'code', 'year', 'nearly_every_day', 'more_than_half_the_days', 'several_days', 'not_at_all']

Missing Values:
code    10

Preview (first 5 rows):

,entity,code,year,nearly_every_day,more_than_half_the_days,several_days,not_at_all
0,Appetite change,NaN,2014,4.6,5.1,15.5,74.8
1,Average across symptoms,NaN,2014,4.4,4.3,15.0,76.3
2,Depressed mood,NaN,2014,3.6,3.9,16.8,75.7
3,Difficulty concentrating,NaN,2014,3.5,3.6,10.9,82.1
4,Loss of interest,NaN,2014,4.4,5.4,16.3,73.8

============================================================
📊 DataFrame 7 Summary
============================================================
Shape: (15, 4)

Columns:
['entity', 'code', 'year', 'number_of_countries_with_primary_data_on_prevalence_of_mental_disorders']

Missing Values:
code    15

Preview (first 5 rows):

,entity,code,year,number_of_countries_with_primary_data_on_prevalence_of_mental_disorders
0,Alcohol use disorders,NaN,2019,58
1,Amphetamine use disorders,NaN,2019,58
2,Anorexia nervosa,NaN,2019,27
3,Anxiety disorders,NaN,2019,58
4,Attention-deficit hyperactivity disorder,NaN,2019,172